:root{
  background-image: url("https://img.20mn.fr/n5qy6g95SnWCbnkJC5Imug/960x614_image-extraite-saison-3-casa-papel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  --main-color: #0b0b0b;
  font-family: 'Roboto', sans-serif;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
